body {
	font-family: Calibri;
	background-color: #f6f6f6;
}

/*****  START: LOGIN STYLE *****/
#loginMainContainer {
	max-width: 550px;
	height: 186px;
	
	margin: 15% auto;
 }
 
 #logoBox {
	border-radius: 3px;
	text-align: center;
	max-width: 127px;
	padding: 5px;
	background-color: #e8e8e8;
	margin-bottom: 3px;
	border: 1px solid #7f7f7f;
 }
 
 #logoBox img {
	height: 30px;
 }
 
 #containerBox {
	box-shadow: 0px 3px #919191;
	background: #F0F0F0;
	max-width: 550px;
	height: 186px;
	/* background-color: #FFFFFF; */
	/* border: 1px solid #7f7f7f; */
	border-radius: 5px;
	border-bottom: 21px solid #afafaf;
 }
 
 #BoxHeader {
	height: 33px;
	background-color: #7f7f7f;
	border-radius: 3px 3px 0 0;
	padding-top: 7px;
	padding-left: 18px;
 }
 
 #BoxHeader table {
	width: 100%;
	color: #ffffff;
	font-weight: bold;
	font-size: small;
	padding-top: 5px;
 }
 
 #BoxFooter {
	font-size: 11px;
	text-align: center;
	color: #ffffff;
	padding-top: 14px;
 }
 
 .formTable {
	margin: 15px auto;
	width: 95%;
 }
 
 .formTable input[type="text"], input[type="password"] {
	border: 0;
	border-bottom: 1px solid #ccc;
	width: 100%;
	padding: 6px 12px;
	/* border: 1px solid #AAAAAA; */
	border-radius: 3px;
 }
 
 .formTable td {
	padding: 0 5px 0 5px;
 }
 
 .formTable input[type="submit"] {
	background-color: #fe0000;
	padding: 6px 24px;
	border: none;
	margin-top: 7px;
	float: right;
	color: #fff;
	border-radius: 3px;
 }
 
 a { color: #e66100 }
 /*****  END: LOGIN STYLE *****/